@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

html {
    font-size: 10px;
}

 body {
    font-family: 'Oswald', sans-serif;
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    color: #000000;
 }

 .principalPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 li {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
 }

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

h1{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.navbar {
    text-transform: capitalize;
}

.navBar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  
  .navBar li {
    list-style: none;
  }
  